# Importing data from Excel
1.	Use pandas package to import Excel spreadsheets
2.	Import any given sheet of your loaded work book file as a DataFrame, by specifying either the **sheet's name** or its **index**.
3.	It allows to skip rows, rename columns and select only particular columns.

# Exercise 1: About current working Directory using script

In [2]:
import os

In [3]:
os.getcwd()

'C:\\Users\\Hi\\Google Drive\\01 Data Science Lab Copy\\Jupyter Notebooks\\Level 03_of_08_Python_Basic_Packages_for_DataScience'

In [4]:
os.chdir("C:\\Users\\Hi\\Google Drive\\01 Data Science Lab Copy\\02 Lab Data\\Python")

In [5]:
os.getcwd()

'C:\\Users\\Hi\\Google Drive\\01 Data Science Lab Copy\\02 Lab Data\\Python'

# Exercise 2: Read Excel work sheet as dataframe

In [6]:
import pandas as pd
xl = pd.ExcelFile("ScottData.xlsx")  # Load spreadsheet as: xl

In [7]:
type(xl)

pandas.io.excel.ExcelFile

In [8]:
xl

In [9]:
df1 = xl.parse('EMP')  # Load a sheet into a DataFrame by name: EMP # parse = read
print(df1.head()) # Print the head of the DataFrame EMP

   EMPNO   ENAME       JOB     MGR   HIREDATE   SAL    COMM  DEPTNO
0   7369   SMITH     CLERK  7902.0 1980-12-17   800     NaN      20
1   7900   JAMES     CLERK  7698.0 1981-12-03   950     NaN      30
2   7876   ADAMS     CLERK  7788.0 1987-05-23  1100     NaN      20
3   7521    WARD  SALESMAN  7698.0 1981-02-22  1250   500.0      30
4   7654  MARTIN  SALESMAN  7698.0 1981-09-28  1250  1400.0      30

In [10]:
df2 = xl.parse(1) # Load a sheet into a DataFrame by index: DEPT
print(df2.head()) # Print the head of the DataFrame df2

   DEPTNO       DNAME       LOC
0      10  ACCOUNTING  NEW YORK
1      20    RESEARCH    DALLAS
2      30       SALES   CHICAGO
3      40  OPERATIONS    BOSTON

In [11]:
# Parse the first sheet and rename the columns: df3
df3 = xl.parse(0, names=['A', 'B','C','D','E','F','G','H'])
print(df3.head(14)) # Print the head of the DataFrame df3

       A       B          C       D          E     F       G   H
0   7369   SMITH      CLERK  7902.0 1980-12-17   800     NaN  20
1   7900   JAMES      CLERK  7698.0 1981-12-03   950     NaN  30
2   7876   ADAMS      CLERK  7788.0 1987-05-23  1100     NaN  20
3   7521    WARD   SALESMAN  7698.0 1981-02-22  1250   500.0  30
4   7654  MARTIN   SALESMAN  7698.0 1981-09-28  1250  1400.0  30
5   7934  MILLER      CLERK  7782.0 1982-01-23  1300     NaN  10
6   7844  TURNER   SALESMAN  7698.0 1981-09-08  1500     0.0  30
7   7499   ALLEN   SALESMAN  7698.0 1981-02-20  1600   300.0  30
8   7782   CLARK    MANAGER  7839.0 1981-06-09  2450     NaN  10
9   7698   BLAKE    MANAGER  7839.0 1981-05-01  2850     NaN  30
10  7566   JONES    MANAGER  7839.0 1981-04-02  2975     NaN  20
11  7788   SCOTT    ANALYST  7566.0 1987-04-19  3000     NaN  20
12  7902    FORD    ANALYST  7566.0 1981-12-03  3000     NaN  20
13  7839    KING  PRESIDENT     NaN 1981-11-17  5000     NaN  10

In [12]:
# Parse the first column of the second sheet and rename the column: df4
df4 = xl.parse(1, parse_cols=[0], names=['A'])
print(df4.head()) # Print the head of the DataFrame df4

    A
0  10
1  20
2  30
3  40

# Other way to create dataframe using pandas

In [18]:
df = pd.read_excel(io=xl,sheetname="DEPT")

In [19]:
df

   DEPTNO       DNAME       LOC
0      10  ACCOUNTING  NEW YORK
1      20    RESEARCH    DALLAS
2      30       SALES   CHICAGO
3      40  OPERATIONS    BOSTON

# Exercise 2: Write data from dataframe to excel

In [14]:
import pandas as pd
# Create a Pandas dataframe from the data.
df = pd.DataFrame({'Data': [10, 20, 30, 20, 15, 30, 45]})
df # verfiy data frame data

   Data
0    10
1    20
2    30
3    20
4    15
5    30
6    45

In [15]:
# Create a Pandas Excel writer using XlsxWriter as the engine.
writer = pd.ExcelWriter('pandas_simple_07dec2018.xlsx', engine='xlsxwriter')

In [16]:
type(writer)

pandas.io.excel._XlsxWriter

In [17]:
# Convert the dataframe to an XlsxWriter Excel object.
df.to_excel(writer, sheet_name='Sheet1')
writer.save() # Close the Pandas Excel writer and output the Excel file.