## Introduction

Knowing how Python handles certain data structures is crucial to writing consistent and efficient code. Let's learn via examples.

## Function we'll use later

In [1]:
def is_same(a, b):
    id_a = id(a)
    id_b = id(b)
    ids = ( ('1st_obj', id_a), ('2nd_obj', id_b) )
    for id_ in ids:
        print('The object ID of {0} is {1}'.format(id_[0], id_[1]))
    print('\n1st_obj is 2nd_obj:', ids[0][1] == ids[1][1])
    print('1st_obj == 2nd_obj:', a == b)

## Immutable Objects
Immutable objects include objects like int, float, tuple, and str.

In [2]:
a = 5
string = 'this is a string'
tup = (1, 'tuple', [1,2,3])

## A Comparison of 'is' and '=='

Use 'is' to check if two objects have the same identity (same memory address).  
Use '==' to check if two objects have the same value.  

**Note: 'is' is not equivalent to '=='**

In [3]:
b = a
b

5

#### Are *a* and *b* the same object?

In [4]:
a is b

True

In [5]:
id(a) == id(b)

True

In [6]:
id(a)

4407368176

In [7]:
id(b)

4407368176

#### What is the ID of each object?

In [8]:
is_same(a, b)

The object ID of 1st_obj is 4407368176
The object ID of 2nd_obj is 4407368176

1st_obj is 2nd_obj: True
1st_obj == 2nd_obj: True

## Mutable Objects
Mutable objects include objects like lists, dict, set.

In [9]:
c = [1,2,3,4]
d = c

In [10]:
is_same(c, d)

The object ID of 1st_obj is 4448261896
The object ID of 2nd_obj is 4448261896

1st_obj is 2nd_obj: True
1st_obj == 2nd_obj: True

Now, let's change a value of *c* leaving *d* exactly the same. What do you think will happen? Will *c* and *d* remain the same object?

In [11]:
c[0] = 5

In [12]:
is_same(c, d)

The object ID of 1st_obj is 4448261896
The object ID of 2nd_obj is 4448261896

1st_obj is 2nd_obj: True
1st_obj == 2nd_obj: True

In [13]:
print(c)
print(d)

[5, 2, 3, 4]
[5, 2, 3, 4]

So if *c* is a mutable object and we set *d* equal to *c*, we have to be very careful about changing either *c* or *d*. 

Watch what happens when we set *c*, set *d* equal to *c*, and then change *d*.

In [14]:
c = [1,2,3,4]
d = c
is_same(c,d)

The object ID of 1st_obj is 4448150152
The object ID of 2nd_obj is 4448150152

1st_obj is 2nd_obj: True
1st_obj == 2nd_obj: True

In [15]:
d[0] = 5
is_same(c,d)

The object ID of 1st_obj is 4448150152
The object ID of 2nd_obj is 4448150152

1st_obj is 2nd_obj: True
1st_obj == 2nd_obj: True

In [16]:
print(c)
print(d)

[5, 2, 3, 4]
[5, 2, 3, 4]

---

## Let's talk about slicing

In [17]:
e = [1,2,3,4]
f = e[:]

In [18]:
print(e)
print(f)

[1, 2, 3, 4]
[1, 2, 3, 4]

In [19]:
is_same(e,f)

The object ID of 1st_obj is 4448320648
The object ID of 2nd_obj is 4448245384

1st_obj is 2nd_obj: False
1st_obj == 2nd_obj: True

Turns out that slicing makes a copy of an object. Remember this. 

Here's a better example:

In [20]:
g = [1,2,[3,6],4,5]
g

[1, 2, [3, 6], 4, 5]

In [21]:
h = g[:]
h

[1, 2, [3, 6], 4, 5]

In [22]:
is_same(g,h)

The object ID of 1st_obj is 4448320712
The object ID of 2nd_obj is 4448246216

1st_obj is 2nd_obj: False
1st_obj == 2nd_obj: True

In [23]:
g[0] = 5

In [24]:
print(g)
print(h)

[5, 2, [3, 6], 4, 5]
[1, 2, [3, 6], 4, 5]

In [25]:
is_same(g,h)

The object ID of 1st_obj is 4448320712
The object ID of 2nd_obj is 4448246216

1st_obj is 2nd_obj: False
1st_obj == 2nd_obj: False

Changing a value in the list *g* had no affect on *h* since *h* is a copy. Also, the objects no longer contain the same values.

Let's dig deeper.

In [26]:
i = g[:]
i

[5, 2, [3, 6], 4, 5]

In [27]:
g[2][0] = 9
g

[5, 2, [9, 6], 4, 5]

In [28]:
i

[5, 2, [9, 6], 4, 5]

Wait, what?! If we made a copy of *g*, why did *i* change?

In [29]:
j = i[:]
j

[5, 2, [9, 6], 4, 5]

In [30]:
i[0] = 99
i

[99, 2, [9, 6], 4, 5]

In [31]:
j

[5, 2, [9, 6], 4, 5]

There's our answer: slicing creates a shallow copy, not a deep copy. So *j* shallow copied *i* and since we changed an unnested value, the values remained unlinked. However, with *g* and *i*, we changed a nested value (in a list), which explains why the value in the list changed in both objects.

## Enter Deepcopy

In [32]:
from copy import deepcopy
y = [1,2,[3,6],4,5]
y

[1, 2, [3, 6], 4, 5]

In [33]:
z = deepcopy(y)
z

[1, 2, [3, 6], 4, 5]

In [34]:
y[2][0] = 9
y

[1, 2, [9, 6], 4, 5]

In [35]:
z

[1, 2, [3, 6], 4, 5]

In [36]:
is_same(y,z)

The object ID of 1st_obj is 4448260680
The object ID of 2nd_obj is 4448319816

1st_obj is 2nd_obj: False
1st_obj == 2nd_obj: False

Now we get the expected behavior!