# Pivot, stack and Unstack
----

## 1. Pivot

### 1.1 Create dataframe from csv file

In [2]:
# change current working directory to where the files are available 
import os
os.chdir("C:\\Users\\Hi\\Google Drive\\01 DS ML DL NLP and AI With Python Lab Copy\\02 Lab Data\\Python")
os.getcwd()

'C:\\Users\\Hi\\Google Drive\\01 DS ML DL NLP and AI With Python Lab Copy\\02 Lab Data\\Python'

In [3]:
# 01. import required modules and load data
import pandas as pd
df = pd.read_csv("pandas_users.csv")
df

  weekday    city  visitors  signups
0     Sun  Austin       139        7
1     Sun  Dallas       237       12
2     Mon  Austin       326        3
3     Mon  Dallas       456        5

### 1.2. Pivot Data with one metric(visitors)

In [4]:
df.pivot?

In [6]:
# 02. weekday and city wise, Number of visitors
visitors_pivot = df.pivot(index = 'weekday',
                          columns = 'city',
                          values = 'visitors')
visitors_pivot

city     Austin  Dallas
weekday
Mon         326     456
Sun         139     237

### 1.3. Pivot data with one metric(signups)

In [7]:
# 03. weekday and city wise, Number of signups
signups_pivot = df.pivot(index = 'weekday',
                         columns='city',
                         values = 'signups')
signups_pivot

city     Austin  Dallas
weekday
Mon           3       5
Sun           7      12

### 1.4. Pivot data with all metrics

In [8]:
# 04.weekday and city wise, number of visitors and signups
visitors_signups_pivot = df.pivot(index = 'weekday',
                                  columns='city')
visitors_signups_pivot

        visitors        signups
city      Austin Dallas  Austin Dallas
weekday
Mon          326    456       3      5
Sun          139    237       7     12

> or

In [5]:
df.pivot(index="weekday",
        columns="city",
        values=["visitors","signups"])

        visitors        signups
city      Austin Dallas  Austin Dallas
weekday
Mon          326    456       3      5
Sun          139    237       7     12

## 2. Stack and Unstack
- Stack is useful to work with multi-level index

In [9]:
df.stack?

In [10]:
#01. import required modules and load data
import pandas as pd
df = pd.read_csv("pandas_users.csv")
df

  weekday    city  visitors  signups
0     Sun  Austin       139        7
1     Sun  Dallas       237       12
2     Mon  Austin       326        3
3     Mon  Dallas       456        5

In [11]:
#02. set multi level index
df = df.set_index(['city','weekday'])
df

                visitors  signups
city   weekday
Austin Sun           139        7
Dallas Sun           237       12
Austin Mon           326        3
Dallas Mon           456        5

In [15]:
df.unstack?

In [12]:
#03. by week day
byweekday = df.unstack(level = 'weekday')
byweekday

        visitors      signups
weekday      Mon  Sun     Mon Sun
city
Austin       326  139       3   7
Dallas       456  237       5  12

In [14]:
byweekday.stack?

In [11]:
# 04.  revert it
df1 = byweekday.stack(level = 'weekday')
df1

                visitors  signups
city   weekday
Austin Mon           326        3
       Sun           139        7
Dallas Mon           456        5
       Sun           237       12

In [ ]:
df.pi