# Pandas(Python `Data Analysis` Library)
-------

- Pandas is an open source, BSD-licensed library providing high-performance, easy-to-use data structures and data analysis tools for the Python programming language.
- Using pandas we can replicate any `SQL Query`
- `Data wrangling`, sometimes referred to as `data munging`, is the process of transforming and mapping data from one "raw" data form into another format with the intent of making it more appropriate and valuable for a variety of downstream purposes such as `analytics`.

## 1. Execute below queries and observe the results

### 1.1 Load csv file data

In [2]:
# change current working directory to where the files are available 
import os
os.chdir("C:\\Users\\ramreddymyla\\Google Drive\\01 DS ML DL NLP and AI With Python Lab Copy\\02 Lab Data\\Python")
print("Current Working Directory is: ",os.getcwd())

Current Working Directory is:  C:\Users\ramreddymyla\Google Drive\01 DS ML DL NLP and AI With Python Lab Copy\02 Lab Data\Python

In [0]:
# 01. load csv as dataframe
import pandas as pd
df = pd.read_csv("pandas_sales.csv",index_col="month") # rowname = index
df

       eggs  salt  spam
month
Jan      47  12.0    17
Feb     110  50.0    31
Mar     221  89.0    72
Apr      77  87.0    20
May     132   NaN    52
Jun     205  60.0    55

In [0]:
type(df)

pandas.core.frame.DataFrame

In [0]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6 entries, Jan to Jun
Data columns (total 3 columns):
eggs    6 non-null int64
salt    5 non-null float64
spam    6 non-null int64
dtypes: float64(1), int64(2)
memory usage: 192.0+ bytes

### 1.2. Read dataframe
#### Method 1: by index # [columnname][rowname]

In [0]:
# print 47

In [0]:
df["eggs"]["Jan"]

47

In [0]:
# print 52

In [0]:
df["spam"]["May"]

52

#### Method 2: by column attribute and row index

In [0]:
df.eggs[0]

47

In [0]:
df.eggs[0:3] # slice []

month
Jan     47
Feb    110
Mar    221
Name: eggs, dtype: int64

In [0]:
df.eggs[[1,3,5]] # fancy [[]]

month
Feb    110
Apr     77
Jun    205
Name: eggs, dtype: int64

In [0]:
df.salt[[1,5]]

month
Feb    50.0
Jun    60.0
Name: salt, dtype: float64

In [0]:
df.spam[[2,4]]

month
Mar    72
May    52
Name: spam, dtype: int64

#### Method 3: by using loc

In [0]:
df.loc["Jan","eggs"]

47

In [0]:
df.loc["Jan":"Mar","eggs"] # slice

month
Jan     47
Feb    110
Mar    221
Name: eggs, dtype: int64

In [0]:
df.loc["Jan":"Mar","eggs":"spam"] # slice

       eggs  salt  spam
month
Jan      47  12.0    17
Feb     110  50.0    31
Mar     221  89.0    72

In [0]:
df.loc[["Jan","Mar"],["eggs","spam"]] # fancy

       eggs  spam
month
Jan      47    17
Mar     221    72

#### Method 4: by using iloc (if possible use this)

In [0]:
df.iloc[0,0]

47

In [0]:
df.iloc[0:3,0:2]# slice

       eggs  salt
month
Jan      47  12.0
Feb     110  50.0
Mar     221  89.0

In [0]:
df.iloc[[0,3],[0,2]]# fancy

       eggs  spam
month
Jan      47    17
Apr      77    20

## 2. Create dataframe from another dataframe [[  ]]

In [0]:
df

       eggs  salt  spam
month
Jan      47  12.0    17
Feb     110  50.0    31
Mar     221  89.0    72
Apr      77  87.0    20
May     132   NaN    52
Jun     205  60.0    55

In [0]:
sub_df = df[["salt","eggs"]]

In [0]:
# same task in sql : create table sub_df as select eggs,salt from df

In [0]:
sub_df # it occupies separate memory

       salt  eggs
month
Jan    12.0    47
Feb    50.0   110
Mar    89.0   221
Apr    87.0    77
May     NaN   132
Jun    60.0   205

### 3. Create Series(1 column +  index)  from dataframe [ ]

In [0]:
Series_eggs = df["eggs"]

In [0]:
Series_eggs

month
Jan     47
Feb    110
Mar    221
Apr     77
May    132
Jun    205
Name: eggs, dtype: int64

`Home Work 1: ` Read and practice doc string `df.loc?`

`Home Work 2: ` Read and practice doc string `df.iloc?`

`Home Work 3: ` [10 mins pandas](http://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html#min)

In [1]:
# Activity: read iris file and 
# create all independet variables as X and dependent variables as y

In [3]:
import pandas as pd
df = pd.read_csv("iris.csv")

In [4]:
df.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

In [6]:
X=df.loc[:,df.columns !="species"]

In [7]:
type(X)

pandas.core.frame.DataFrame

In [8]:
X.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [9]:
y=df["species"]

In [10]:
type(y)

pandas.core.series.Series

In [14]:
y.unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [15]:
y.head()

0    setosa
1    setosa
2    setosa
3    setosa
4    setosa
Name: species, dtype: object