# Importing data from Excel
1.	Use pandas package to import Excel spreadsheets
2.	Import any given sheet of your loaded work book file as a DataFrame, by specifying either the **sheet's name** or its **index**.
3.	It allows to skip rows, rename columns and select only particular columns.

# Exercise 1: About current working Directory using script

In [1]:
import os

In [2]:
os.getcwd()

'C:\\Users\\Hi\\Google Drive\\01 DS ML DL NLP and AI With Python Lab Copy\\03 Jupyter Notebooks\\Level 03_of_08_Python_Basic_Packages_for_DataScience'

In [3]:
os.chdir("C:\\Users\\Hi\\Google Drive\\01 DS ML DL NLP and AI With Python Lab Copy\\02 Lab Data\\Python")

In [4]:
os.getcwd()

'C:\\Users\\Hi\\Google Drive\\01 DS ML DL NLP and AI With Python Lab Copy\\02 Lab Data\\Python'

# Exercise 2: Read Excel work sheet as dataframe

In [30]:
pd.ExcelFile?

In [5]:
import pandas as pd
xl = pd.ExcelFile("ScottData.xlsx")  # Load spreadsheet as: xl

In [7]:
type(xl)

pandas.io.excel.ExcelFile

In [8]:
xl

In [9]:
df2 = xl.parse(1) # Load a sheet into a DataFrame by index: DEPT
print(df2.head()) # Print the head of the DataFrame df2

   DEPTNO       DNAME       LOC
0      10  ACCOUNTING  NEW YORK
1      20    RESEARCH    DALLAS
2      30       SALES   CHICAGO
3      40  OPERATIONS    BOSTON

In [27]:
xl.parse?

In [28]:
# Parse the first sheet and rename the columns: df3
df3 = xl.parse(0, names=['Employee Number', 'Employee Name',
                         'Job','Manager Number','Hiredate','Sal','comm','Deptno'])
print(df3.head(14)) # Print the head of the DataFrame df3

    Employee Number Employee Name        Job  Manager Number   Hiredate   Sal  \
0              7369         SMITH      CLERK          7902.0 1980-12-17   800
1              7900         JAMES      CLERK          7698.0 1981-12-03   950
2              7876         ADAMS      CLERK          7788.0 1987-05-23  1100
3              7521          WARD   SALESMAN          7698.0 1981-02-22  1250
4              7654        MARTIN   SALESMAN          7698.0 1981-09-28  1250
5              7934        MILLER      CLERK          7782.0 1982-01-23  1300
6              7844        TURNER   SALESMAN          7698.0 1981-09-08  1500
7              7499         ALLEN   SALESMAN          7698.0 1981-02-20  1600
8              7782         CLARK    MANAGER          7839.0 1981-06-09  2450
9              7698         BLAKE    MANAGER          7839.0 1981-05-01  2850
10             7566         JONES    MANAGER          7839.0 1981-04-02  2975
11             7788         SCOTT    ANALYST          7566.0 1987-04-19  3000
12             7902          FORD    ANALYST          7566.0 1981-12-03  3000
13             7839          KING  PRESIDENT             NaN 1981-11-17  5000

      comm  Deptno
0      NaN      20
1      NaN      30
2      NaN      20
3    500.0      30
4   1400.0      30
5      NaN      10
6      0.0      30
7    300.0      30
8      NaN      10
9      NaN      30
10     NaN      20
11     NaN      20
12     NaN      20
13     NaN      10

In [29]:
# Parse the first column of the second sheet and rename the column: df4
df4 = xl.parse(1, 
               parse_cols=[0], 
               names=['Dept Number'])
print(df4.head()) # Print the head of the DataFrame df4

   Dept Number
0           10
1           20
2           30
3           40

# Other way to create dataframe using pandas

In [31]:
pd.read_excel?

In [18]:
df = pd.read_excel(io=xl,sheetname="DEPT")

In [19]:
df

   DEPTNO       DNAME       LOC
0      10  ACCOUNTING  NEW YORK
1      20    RESEARCH    DALLAS
2      30       SALES   CHICAGO
3      40  OPERATIONS    BOSTON

# Exercise 2: Write data from dataframe to excel

In [39]:
pd.DataFrame?

In [32]:
import pandas as pd
# Create a Pandas dataframe from the data.
df = pd.DataFrame({'Data': [10, 20, 30, 20, 15, 30, 45]})
df # verfiy data frame data

   Data
0    10
1    20
2    30
3    20
4    15
5    30
6    45

In [33]:
pd.ExcelWriter?

In [35]:
# Create a Pandas Excel writer using XlsxWriter as the engine.
writer = pd.ExcelWriter('pandas_simple_13feb2019.xlsx',
                        engine='xlsxwriter')

In [36]:
type(writer)

pandas.io.excel._XlsxWriter

In [40]:
df.to_excel?

In [37]:
# Convert the dataframe to an XlsxWriter Excel object.
df.to_excel(writer, sheet_name='Sheet1')
writer.save() # Close the Pandas Excel writer and output the Excel file.

[Refer more about Excel reading and writeing](http://xlsxwriter.readthedocs.io/working_with_pandas.html)

# one example of conditional formating

In [38]:
import xlsxwriter

workbook = xlsxwriter.Workbook('conditional_format.xlsx')
worksheet1 = workbook.add_worksheet()
worksheet2 = workbook.add_worksheet()
worksheet3 = workbook.add_worksheet()
worksheet4 = workbook.add_worksheet()
worksheet5 = workbook.add_worksheet()
worksheet6 = workbook.add_worksheet()
worksheet7 = workbook.add_worksheet()
worksheet8 = workbook.add_worksheet()
worksheet9 = workbook.add_worksheet()

# Add a format. Light red fill with dark red text.
format1 = workbook.add_format({'bg_color': '#FFC7CE',
                               'font_color': '#9C0006'})

# Add a format. Green fill with dark green text.
format2 = workbook.add_format({'bg_color': '#C6EFCE',
                               'font_color': '#006100'})

# Some sample data to run the conditional formatting against.
data = [
    [34, 72, 38, 30, 75, 48, 75, 66, 84, 86],
    [6, 24, 1, 84, 54, 62, 60, 3, 26, 59],
    [28, 79, 97, 13, 85, 93, 93, 22, 5, 14],
    [27, 71, 40, 17, 18, 79, 90, 93, 29, 47],
    [88, 25, 33, 23, 67, 1, 59, 79, 47, 36],
    [24, 100, 20, 88, 29, 33, 38, 54, 54, 88],
    [6, 57, 88, 28, 10, 26, 37, 7, 41, 48],
    [52, 78, 1, 96, 26, 45, 47, 33, 96, 36],
    [60, 54, 81, 66, 81, 90, 80, 93, 12, 55],
    [70, 5, 46, 14, 71, 19, 66, 36, 41, 21],
]


###############################################################################
#
# Example 1.
#
caption = ('Cells with values >= 50 are in light red. '
           'Values < 50 are in light green.')

# Write the data.
worksheet1.write('A1', caption)

for row, row_data in enumerate(data):
    worksheet1.write_row(row + 2, 1, row_data)

# Write a conditional format over a range.
worksheet1.conditional_format('B3:K12', {'type': 'cell',
                                         'criteria': '>=',
                                         'value': 50,
                                         'format': format1})

# Write another conditional format over the same range.
worksheet1.conditional_format('B3:K12', {'type': 'cell',
                                         'criteria': '<',
                                         'value': 50,
                                         'format': format2})

workbook.close()