# Read data from `Mongo DB`
----------------

Note: If you did not install software ,please install

https://www.mongodb.com/download-center/community

## List Databases of Mongo DB

In [3]:
import pymongo
# if error "module not found"
# conda install -c anaconda pymongo
myclient = pymongo.MongoClient(u"mongodb://localhost:27017") 
print(myclient.list_database_names())
print(len(myclient.list_database_names()))

['admin', 'config', 'empdb', 'local', 'mydatabase', 'rritec', 'rritec12oct2019', 'rritecMongoDb', 'rritec_20191109', 'rritec_b20190906', 'rritec_b20190929']
11

In [4]:
pymongo.MongoClient?

## About `Studio 3T`
- Open `Studio 3T`
- Click on `Connect`
- Click on `New Connection`
- Provide `Connection Name`
- Click on `Test Connection`
- Click on `ok`
- Click on `save`
- Click on `Connect`

## Create a new DataBase
- Untill we create one `collection(aka Table)` and one `document(aka row)`, database will not be created physically

In [2]:
mydb = myclient["rritec_b20190929"]

In [3]:
dblist = myclient.list_database_names()
if "rritec_b20190929" in dblist:
    print("The database exists.")
else:
    print("The database not exists.")

The database not exists.

## Create one `Collection(aka table)`
- Untill we create `one document`, collection will not be created.

In [4]:
mycol = mydb["customers"]

In [5]:
collist = mydb.list_collection_names()
if "customers" in collist:
    print("The collection exists.")
else:
    print("The collection not exists.")

The collection not exists.

## Insert `Documents(aka Rows)` in `Collection`

In [6]:
mylist = [
  { "name": "Amy", "address": "Apple st 652"},
  { "name": "Hannah", "address": "Mountain 21"},
  { "name": "Michael", "address": "Valley 345"},
  { "name": "Sandy", "address": "Ocean blvd 2"},
  { "name": "Betty", "address": "Green Grass 1"},
  { "name": "Richard", "address": "Sky st 331"},
  { "name": "Susan", "address": "One way 98"},
  { "name": "Vicky", "address": "Yellow Garden 2"},
  { "name": "Ben", "address": "Park Lane 38"},
  { "name": "William", "address": "Central st 954"},
  { "name": "Chuck", "address": "Main Road 989"},
  { "name": "Viola", "address": "Sideway 1633"}
]

x = mycol.insert_many(mylist)

#print list of the _id values of the inserted documents:
print(x.inserted_ids)

[ObjectId('5d902d53a9b8c96b337265ff'), ObjectId('5d902d53a9b8c96b33726600'), ObjectId('5d902d53a9b8c96b33726601'), ObjectId('5d902d53a9b8c96b33726602'), ObjectId('5d902d53a9b8c96b33726603'), ObjectId('5d902d53a9b8c96b33726604'), ObjectId('5d902d53a9b8c96b33726605'), ObjectId('5d902d53a9b8c96b33726606'), ObjectId('5d902d53a9b8c96b33726607'), ObjectId('5d902d53a9b8c96b33726608'), ObjectId('5d902d53a9b8c96b33726609'), ObjectId('5d902d53a9b8c96b3372660a')]

In [7]:
dblist = myclient.list_database_names()
if "rritec_b20190929" in dblist:
    print("The database exists.")
else:
    print("The database not exists.")

The database exists.

In [8]:
collist = mydb.list_collection_names()
if "customers" in collist:
    print("The collection exists.")
else:
    print("The collection not exists.")

The collection exists.

## Create one `User in DataBase`

In [9]:
myclient.rritec_b20190929.add_user?

In [11]:
myclient.rritec_b20190929.add_user('ram', 'myla', 
                         roles=[{'role':'dbAdmin','db':'rritec_b20190929'}])

myclient.rritec_b20190929.add_user('ram1', 'myla', 
                         roles=[{'role':'readWrite','db':'rritec_b20190929'}])

C:\Users\ramreddymyla\Anaconda3\envs\dl\lib\site-packages\ipykernel_launcher.py:2: DeprecationWarning: add_user is deprecated and will be removed in PyMongo 4.0. Use db.command with createUser or updateUser instead

## list the users of database

In [12]:
#/usr/bin/python

#from pymongo import MongoClient

#client = MongoClient("localhost",27017)
#db = client.rritec

# This is the line I added with the help of @salmanwahed
listing = mydb.command('usersInfo')

for document in listing['users']:
    print(document['user'] +" "+ document['roles'][0]['role'])

ram readWrite
ram1 readWrite

## Read `mongo collection` in dict format
-----------------------

In [13]:
mycol.find()

In [14]:
#import pymongo
#serverStatusResult=mydb.command("serverStatus")
##pprint(serverStatusResult)
output = []
for q in mycol.find():
        output.append({'name' : q['name'], 'address' : q['address']})
output

[{'name': 'Amy', 'address': 'Apple st 652'},
 {'name': 'Hannah', 'address': 'Mountain 21'},
 {'name': 'Michael', 'address': 'Valley 345'},
 {'name': 'Sandy', 'address': 'Ocean blvd 2'},
 {'name': 'Betty', 'address': 'Green Grass 1'},
 {'name': 'Richard', 'address': 'Sky st 331'},
 {'name': 'Susan', 'address': 'One way 98'},
 {'name': 'Vicky', 'address': 'Yellow Garden 2'},
 {'name': 'Ben', 'address': 'Park Lane 38'},
 {'name': 'William', 'address': 'Central st 954'},
 {'name': 'Chuck', 'address': 'Main Road 989'},
 {'name': 'Viola', 'address': 'Sideway 1633'}]

#### `home Work: one more way `

In [17]:
# Requires pymongo 3.6.0+
from pymongo import MongoClient

client = MongoClient("mongodb://localhost:27017/")
database = client["rritecMongoDb"]
collection = database["framework"]


query = {}

cursor = collection.find(query)
try:
    for doc in cursor:
        print(doc)
finally:
    client.close()

{'_id': ObjectId('5d709ef78b75976ee7be11c6'), 'name': 'flask', 'language': 'Python'}
{'_id': ObjectId('5d70a0f88b75976ee7be11c9'), 'name': 'django', 'language': 'python'}
{'_id': ObjectId('5d70a11a8b75976ee7be11ca'), 'name': 'spring', 'language': 'java'}

## Read `mongo collection` in `DataFrame` format
-----------------------

In [15]:
print("ram" and "myla")

myla

In [16]:
print(None and None)

None

In [17]:
import pandas as pd
from pymongo import MongoClient

def _connect_mongo(host, port, username, password, db):
    """ A util for making a connection to mongo """

    if username and password:
        mongo_uri = 'mongodb://%s:%s@%s:%s/%s' % (username, password, host, port, db)
        conn = MongoClient(mongo_uri)
    else:
        conn = MongoClient(host, port)

    return conn[db]



def read_mongo(db, collection, query={}, host='localhost', port=27017,
               username=None, password=None, no_id=True):
    """ Read from Mongo and Store into DataFrame """

    # Connect to MongoDB
    db = _connect_mongo(host=host, port=port, username=username, password=password, db=db)

    # Make a query to the specific DB and Collection
    cursor = db[collection].find(query)

    # Expand the cursor and construct the DataFrame
    df =  pd.DataFrame(list(cursor))

    # Delete the _id
    if no_id:
        del df['_id']

    return df

### access database without username and password

In [21]:
df = read_mongo(db="rritec_b20190929",collection='customers')

In [22]:
type(df)

pandas.core.frame.DataFrame

In [23]:
df

       name          address
0       Amy     Apple st 652
1    Hannah      Mountain 21
2   Michael       Valley 345
3     Sandy     Ocean blvd 2
4     Betty    Green Grass 1
5   Richard       Sky st 331
6     Susan       One way 98
7     Vicky  Yellow Garden 2
8       Ben     Park Lane 38
9   William   Central st 954
10    Chuck    Main Road 989
11    Viola     Sideway 1633
12      ram         ameerpet

### Access database with `username and password`

In [29]:
df = read_mongo(db="rritec_b20190929",collection='customers',
                username="ram", password="myla")

In [30]:
df

       name          address
0       Amy     Apple st 652
1    Hannah      Mountain 21
2   Michael       Valley 345
3     Sandy     Ocean blvd 2
4     Betty    Green Grass 1
5   Richard       Sky st 331
6     Susan       One way 98
7     Vicky  Yellow Garden 2
8       Ben     Park Lane 38
9   William   Central st 954
10    Chuck    Main Road 989
11    Viola     Sideway 1633
12      ram         ameerpet

## `Home Work`
- Leran Mongodb
    - https://www.guru99.com/mongodb-tutorials.html