# Import from Relational Database (Ex: SQLite)
---
1.	Some of the relational databases are 
    - MySQL
    - PostgreSQL     
    - SQLite
    - Sqlserver
    - Oracle 
    - Hive
    - ..etc 
    - ![sample database images](https://github.com/rritec/datahexa/blob/master/images/all_databases.png?raw=true)
 
2.	SQLite database
    - Small. Fast. Reliable
    - [More read from sqlite website](https://www.sqlite.org/about.html)
3.	SQLAlchemy  

![logo](https://github.com/rritec/datahexa/blob/master/images/sqlalchem%20logo.png?raw=true)
    - SQLAlchemy is the Python SQL toolkit.
    - Works with many Relational Database Management Systems
    [More read from sqlalchemy website](https://www.sqlalchemy.org/)

## 1. Exercise 1: List SQLite chinook database tables

In [1]:
from sqlalchemy import create_engine
# if module not found error 
# open anaconda prompt and run 
# conda install -c anaconda sqlalchemy

In [5]:
type(create_engine)

function

In [3]:
create_engine?

In [7]:
import os
os.chdir("C:\\Users\\Hi\\Google Drive\\01 DS ML DL NLP and AI With Python Lab Copy\\02 Lab Data\\Python")

In [8]:
os.getcwd()

'C:\\Users\\Hi\\Google Drive\\01 DS ML DL NLP and AI With Python Lab Copy\\02 Lab Data\\Python'

In [13]:
engine = create_engine('sqlite:///Chinook.sqlite')

In [14]:
type(engine)

sqlalchemy.engine.base.Engine

In [15]:
engine.table_names()

['Album',
 'Artist',
 'Customer',
 'Employee',
 'Genre',
 'Invoice',
 'InvoiceLine',
 'MediaType',
 'Playlist',
 'PlaylistTrack',
 'Track',
 'xyz']

## Method 1: Using direct connection

### 1.1.Exercise 2: SQLite basic select query
- Work flow has seven steps
    - Import packages and functions
    - Create the database engine
    - Connect to the engine
    - Query the database
    - Save query results to a DataFrame
    - Close the connection
    - Observe dataframe data

In [13]:
pd.DataFrame?

#### Step 1 of 7: Import required packages

In [16]:
from sqlalchemy import create_engine 
import pandas as pd

#### Step 2 of 7: Create engine: engine

In [17]:
engine = create_engine('sqlite:///Chinook.sqlite')

In [18]:
type(engine)

sqlalchemy.engine.base.Engine

#### Step 3 of 7: Open engine connection

In [19]:
con = engine.connect()

In [20]:
type(con)

sqlalchemy.engine.base.Connection

#### Step 4 of 7: Perform query: result

In [21]:
result = con.execute("SELECT * FROM Album")

In [22]:
type(result)

sqlalchemy.engine.result.ResultProxy

#### Step 5 of 7: Save results of the query to DataFrame: df

In [23]:
df = pd.DataFrame(result.fetchall(),
                  columns=result.keys())

In [24]:
result.keys()

['AlbumId', 'Title', 'ArtistId']

In [25]:
type(df)

pandas.core.frame.DataFrame

In [28]:
df.iloc[0:2]

   AlbumId                                  Title  ArtistId
0        1  For Those About To Rock We Salute You         1
1        2                      Balls to the Wall         2

In [29]:
con.closed

False

#### Step 6 of 7: Close connection

In [30]:
con.close()

In [32]:
con.closed

True

#### Step 7 of 7: Print head of DataFrame df

In [33]:
print(df.head())

   AlbumId                                  Title  ArtistId
0        1  For Those About To Rock We Salute You         1
1        2                      Balls to the Wall         2
2        3                      Restless and Wild         2
3        4                      Let There Be Rock         1
4        5                               Big Ones         3

> **Disadvantage :** we need to close connection forciably

## Method 2: With Context

### 2.1. Exercise 3: SQLite select query using context manager

In [34]:
# Import packages
from sqlalchemy import create_engine ; import pandas as pd
# Create engine: engine
engine = create_engine('sqlite:///Chinook.sqlite')

In [40]:
# Open engine in context manager (to avoid open and close of the connections) 
# Perform query and save results to DataFrame: df
with engine.connect() as con:
    rs = con.execute("SELECT LastName, Title FROM Employee")
    df = pd.DataFrame(rs.fetchmany(size=4))
    df.columns = rs.keys() #print column names

In [41]:
print(len(df)) # Print the length of the DataFrame df

4

In [42]:
print(df.head()) # Print the head of the DataFrame df

  LastName                Title
0    Adams      General Manager
1  Edwards        Sales Manager
2  Peacock  Sales Support Agent
3     Park  Sales Support Agent

### 2.2 .Exercise 4: SQLite select query with where and order by clause

In [45]:
from sqlalchemy import create_engine;  import pandas as pd # Import packages
engine = create_engine('sqlite:///Chinook.sqlite') # Create engine: engine
# Open engine in context manager ,run query and save results to DataFrame: df
with engine.connect() as con:
    rs = con.execute("""SELECT * FROM Employee 
                     WHERE EmployeeId >= 6 
                     ORDER BY BirthDate""")
    df = pd.DataFrame(rs.fetchall())
    df.columns = rs.keys()
# Print the head of the DataFrame df
print(df.head())

   EmployeeId  LastName FirstName       Title  ReportsTo            BirthDate  \
0           8  Callahan     Laura    IT Staff          6  1968-01-09 00:00:00
1           7      King    Robert    IT Staff          6  1970-05-29 00:00:00
2           6  Mitchell   Michael  IT Manager          1  1973-07-01 00:00:00

              HireDate                      Address        City State Country  \
0  2004-03-04 00:00:00                  923 7 ST NW  Lethbridge    AB  Canada
1  2004-01-02 00:00:00  590 Columbia Boulevard West  Lethbridge    AB  Canada
2  2003-10-17 00:00:00         5827 Bowness Road NW     Calgary    AB  Canada

  PostalCode              Phone                Fax                    Email
0    T1H 1Y8  +1 (403) 467-3351  +1 (403) 467-8772    laura@chinookcorp.com
1    T1K 5N8  +1 (403) 456-9986  +1 (403) 456-8485   robert@chinookcorp.com
2    T3B 0C5  +1 (403) 246-9887  +1 (403) 246-9899  michael@chinookcorp.com

## Method 3: using pandas

## 3.1. Exercise 5: SQLite query using pandas Vs context manager

In [46]:
# Import packages
from sqlalchemy import create_engine;
import pandas as pd 
# Create engine: engine
engine = create_engine('sqlite:///Chinook.sqlite') 
# Execute query and create DataFrame: df
df = pd.read_sql_query("SELECT * FROM Album", engine) 
print(df.head()) # Print head of DataFrame

   AlbumId                                  Title  ArtistId
0        1  For Those About To Rock We Salute You         1
1        2                      Balls to the Wall         2
2        3                      Restless and Wild         2
3        4                      Let There Be Rock         1
4        5                               Big Ones         3

In [47]:
#compare pandas result with context manager result
# Open engine in context manager, run query and save results to DataFrame: df1
with engine.connect() as con:
    rs = con.execute("SELECT * FROM Album")
    df1 = pd.DataFrame(rs.fetchall())
    df1.columns = rs.keys()

In [48]:
print(df.equals(df1)) # Confirm that both methods yield the same result: does df = df1 ?

True

> Method 3 : is easy method ,it is recomonded

### 3.2. Exercise 6: SQLite database joins

In [49]:
from sqlalchemy import create_engine;import pandas as pd # Import packages
engine = create_engine('sqlite:///Chinook.sqlite') # Create engine: engine
# Open engine in context manager, run query and save results to DataFrame: df
with engine.connect() as con:
    rs = con.execute("SELECT Title, Name FROM Album INNER JOIN Artist \
    on Album.ArtistID = Artist.ArtistID")
    df = pd.DataFrame(rs.fetchall())
    df.columns = rs.keys()
print(df.head()) # Print head of DataFrame df

                                   Title       Name
0  For Those About To Rock We Salute You      AC/DC
1                      Balls to the Wall     Accept
2                      Restless and Wild     Accept
3                      Let There Be Rock      AC/DC
4                               Big Ones  Aerosmith

[Refer more](http://www.sqlitetutorial.net/sqlite-python/)

# homework

In [1]:
# Install mongo
# query collections(Tables)
# learn basic queries to get document(row)
# explore pymongo package

In [ ]:
# Install sql server
# query Tables
# learn basic queries to get row
# explore pyodbc package

In [ ]:
# Install bigdata
# query hive Tables
# learn basic queries to get row
# explore pyhive package