# Dictionary
-----
## 1. What is dict?
- key and value pair is called as dict
- Each key is separated from its value by a colon (:)
- each key and value pair is separated with comma,
- dict is enclosed in curly braces {}.
- An empty dictionary without any items is written with just two curly braces, like this: {}.
- Keys are unique within a dictionary while values may not be.
- keys are unique(immutable)
- values may be duplicated(mutable)
- need to read data using keys
- [refer python help doc](https://docs.python.org/3/tutorial/datastructures.html)

In [1]:
my_dict = {
 "key1":"value1",
 "key2":"value2",
}

In [2]:
type(my_dict)

dict

## 2. Why we need dict?
### 2.1 Exercise: Get India population using list? Is it convenient?

In [3]:
a_names = ["India","USA","AUS"]
pop = [133.92,32.57,2.46]

#### Get USA population

In [4]:
#step 1: get usa index
a_names.index("USA")

1

In [5]:
# Step 2 get index relavent population
pop[1]

32.57

** it is not convinent right.** let us learn dict

## 3. Create a simple dict

In [6]:
a_dict = {"India":133.92,"USA":32.57,"AUS":2.46}

In [7]:
type(a_dict)

dict

> ** or **

In [8]:
a_dict1 = dict(India=133.92,USA=32.57,AUS=2.46)

In [9]:
type(a_dict1)

dict

> ** or**

In [15]:
a_dict2 = dict([("India",133.92),("USA",32.57),("AUS",2.46),("UK",2.6)])

In [16]:
type(a_dict2)

dict

In [17]:
a_dict2

{'India': 133.92, 'USA': 32.57, 'AUS': 2.46, 'UK': 2.6}

### 3.1 Get keys of dict

In [6]:
a_dict.keys()                      # keys() is a method on dict

dict_keys(['India', 'USA', 'AUS'])

### 3.2 Get values of dict

In [18]:
a_dict.values()                    # values() is a method on dict

dict_values([133.92, 32.57, 2.46])

## 4. Read dict values using keys

In [7]:
a_dict["India"]

133.92

In [19]:
a_dict["India":"AUS"]

TypeError: unhashable type: 'slice'

### 4.1 insert

In [20]:
a_dict["China"]= 138.64

In [21]:
a_dict

{'India': 133.92, 'USA': 32.57, 'AUS': 2.46, 'China': 138.64}

### 4.2 update values

In [10]:
a_dict["India"]= 140

In [11]:
a_dict

{'India': 140, 'USA': 32.57, 'AUS': 2.46, 'China': 138.64}

### 4.3 del

In [12]:
del(a_dict["India"])

In [13]:
a_dict

{'USA': 32.57, 'AUS': 2.46, 'China': 138.64}

## 5. Nested dict

In [14]:
a_dict = {"India":{"telangana":3.92,"andhra pradesh":4.57},"USA":{"california":3.95},"AUS":2.46}

In [15]:
a_dict

{'India': {'telangana': 3.92, 'andhra pradesh': 4.57},
 'USA': {'california': 3.95},
 'AUS': 2.46}

In [16]:
a_dict["India"]["telangana"]

3.92

## 6. Exercise: Create dataframe using dictionaries

### 6.1 create dict with emp data

In [22]:
a_dict = {"empno":[101,102,103,104,105],
         "ename":["ram","john","renny","Jerry","Adrinne"],
         "sal":[1000,3000,3500,4000,4500]}

- Here
    - **dict keys** are column names
    - **dict values** are lists

### 6.2 create dataframe using dict

In [23]:
import pandas
df = pandas.DataFrame(a_dict)

In [24]:
df

   empno    ename   sal
0    101      ram  1000
1    102     john  3000
2    103    renny  3500
3    104    Jerry  4000
4    105  Adrinne  4500

In [25]:
type(df)

pandas.core.frame.DataFrame

## 7.dict use cases
- API export / Import using json
- JSON files using internally dict
- no sql databases are using json files(ex mongo db)