# Dictionary
-----
## 1. What is dict?
- `key and value pair` is called as dict
- Each key is separated from its value by a colon (:)
- each key and value pair is separated with comma,
- dict is enclosed in curly braces {}.
- An empty dictionary without any items is written with just two curly braces, like this: {}.
- Keys are unique within a dictionary while values may not be.
- keys are unique(immutable)
- values may be duplicated(mutable)
- need to read data using keys(in case of string and list we read using index numbers)
- [refer python help doc](https://docs.python.org/3/tutorial/datastructures.html)

In [0]:
my_dict = {
 "key1":"value1",
 "key2":"value2"
}

In [2]:
type(my_dict)

dict

In [4]:
my_dict

{'key1': 'value1', 'key2': 'value2'}

## 2. Why we need dict?
### 2.1 Exercise: Get India population using list? Is it convenient?

In [0]:
a_names = ["India","USA","AUS"]
type(a_names)

list

In [0]:
pop = [133.92,32.57,2.46]
type(pop)

list

#### Get USA population

In [0]:
#step 1: get usa index
a_usa_index = a_names.index("USA")
a_usa_index

1

In [0]:
# Step 2 get index relavent population
pop[a_usa_index]

32.57

**it is not convinent right.**let us learn dict

## 3. Create a simple dict

In [0]:
a_dict = {"India":133.92,"USA":32.57,"AUS":2.46}

In [0]:
type(a_dict)

dict

> **or**

In [0]:
a_dict1 = dict(India=133.92,USA=32.57,AUS=2.46)

In [0]:
type(a_dict1)

dict

> **or**

In [0]:
a_dict2 = dict([("India",133.92),("USA",32.57),("AUS",2.46),("UK",2.6)])

In [0]:
type(a_dict2)

dict

In [0]:
a_dict2

{'India': 133.92, 'USA': 32.57, 'AUS': 2.46, 'UK': 2.6}

## create empty dict

In [1]:
a_dict3= {}

In [2]:
type(a_dict3)

dict

`or`

In [3]:
a_dict4=dict()

In [4]:
type(a_dict4)

dict

### 3.1 Get keys of dict

In [0]:
a_dict.keys()                      # keys() is a method on dict

dict_keys(['India', 'USA', 'AUS'])

### 3.2 Get values of dict

In [0]:
a_dict.values()                    # values() is a method on dict

dict_values([133.92, 32.57, 2.46])

## 4. Read dict values using keys

In [0]:
a_dict["India"] # above two steps we are able to manage with one step

133.92

In [0]:
a_dict["India":"AUS"]

TypeError: unhashable type: 'slice'

### 4.1 Insert

In [0]:
a_dict["China"]= 138.64

In [0]:
a_dict

{'India': 133.92, 'USA': 32.57, 'AUS': 2.46, 'China': 138.64}

### 4.2 update values

In [0]:
a_dict["India"]= 140

In [0]:
a_dict

{'India': 140, 'USA': 32.57, 'AUS': 2.46, 'China': 138.64}

### 4.3 Del

In [0]:
del(a_dict["India"])

In [0]:
a_dict

{'USA': 32.57, 'AUS': 2.46, 'China': 138.64}

## 5. Nested dict

In [0]:
a_dict = {"India":{"telangana":3.92,"andhra pradesh":4.57},
          "USA":{"california":3.95},
          "AUS":2.46}

In [0]:
a_dict

{'India': {'telangana': 3.92, 'andhra pradesh': 4.57},
 'USA': {'california': 3.95},
 'AUS': 2.46}

In [0]:
a_dict["India"]["telangana"]

3.92

## 6. Exercise: Create <code>DataFrame</code> using dictionaries

### 6.1 create dict with emp data

In [0]:
a_dict = {"empno":[101,102,103,104,105],
         "ename":["ram","john","renny","Jerry","Adrinne"],
         "sal":[1000,3000,3500,4000,4500]}

In [0]:
type(a_dict)

dict

- Here
    - **dict keys** are column names
    - **dict values** are lists

### 6.2 create dataframe using dict

In [0]:
import pandas as pd
df = pd.DataFrame(a_dict)

In [0]:
df

   empno    ename   sal
0    101      ram  1000
1    102     john  3000
2    103    renny  3500
3    104    Jerry  4000
4    105  Adrinne  4500

In [0]:
type(df)

pandas.core.frame.DataFrame

## 7.dict use cases
- API export / Import using json(N number of dict)
    - https://api.qualtrics.com/docs/getting-survey-responses-via-the-new-export-apis
- JSON files using internally dict
- no sql databases are using json files(ex mongo db)

> Home Work: Install Mongo Db

- [Download software Community Version](https://www.mongodb.com/download-center/community)
- install with default options
- if window is hanging then it might be power shell issue --> upgrade power shell  
- [follow tutorial ](https://www.guru99.com/mongodb-tutorials.html)
- convert sql query into mongo nosql query , [refer](http://www.querymongo.com/)