# Filter <code>DataFrame</code> data
--------------------
1. <code>DataFrame</code> is equal to `Table`.
2. In R/Python/Scala table is called as <code>DataFrame</code>
2. `Observations/samples` is equal to `rows`
3. `Features/variables/dimensions` is equal to `columns`

## 1. Create a simple <code>DataFrame</code> by importing csv file
- [pandas](http://pandas.pydata.org/)

In [3]:
import pandas as pd # pandas is useful to analysis ,it is similar to sql

In [4]:
df = pd.read_csv("C:\\Users\\ramreddymyla\\Google Drive\\01 DS ML DL NLP and AI With Python Lab Copy\\02 Lab Data\\Python\\brics.CSV",
                 index_col=0)

In [5]:
df

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

In [6]:
type(df)

pandas.core.frame.DataFrame

In [7]:
df.population

BR     200.40
RU     143.50
IN    1252.00
CH    1357.00
SA      52.98
Name: population, dtype: float64

In [8]:
df.population>250 # condition

BR    False
RU    False
IN     True
CH     True
SA    False
Name: population, dtype: bool

In [9]:
df[df.population>250] # object[condition]

   country    capital   area  population
IN   India  New Delhi  3.286      1252.0
CH   China    Beijing  9.597      1357.0

In [10]:
type(df.population)

pandas.core.series.Series